<div class="container-fluid">
    <div class="row-g3">
        <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <app-navbar></app-navbar>
            <div class="row">
                
        <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="label-control">Course Title</label>
            <input type="text" class="form-control" name="courseTitle" [(ngModel)]="courseTitle">
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="label-control">Course Duration</label>
            <input name="courseDuration" type="text" class="form-control" [(ngModel)]="courseDuration">
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="label-control">Course Description</label>
       <textarea name="courseDescription" id="" cols="30" rows="10" class="form-control" [(ngModel)]="courseDescription"></textarea>
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="label-control">Course Take</label>
            <input name="courseDate" type="date" class="form-control" [(ngModel)]="courseDate">
        </div>
       
        <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="label-control">Course Venue</label>
            <input name="courseVenue" type="text" class="form-control" [(ngModel)]="courseVenue">
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <br>
          <button class="btn btn-success" (click)="read()">Submit</button>
        </div>
    </div></div>
</div></div>